@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@keyframes ripple {
  0% {
    transform: scale(0);
    opacity: 0.4;
  }
  100% {
    transform: scale(2.5);
    opacity: 0;
  }
}

.animate-ripple {
  animation: ripple 0.6s linear forwards;
}

/* Define the keyframes */
@keyframes loading {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

/* Apply the animation to a class */
.animate-loading {
  animation: loading 1s linear infinite;
}
